/* Default light mode */
body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark mode */
body.dark-mode {
  background-color: #111827;
  color: white;
}

/* Additional elements */
body.dark-mode h1 {
  color: lightgray;
}

body.dark-mode h2 {
  color: lightgray;
}

body.dark-mode p {
  color: lightgray;
}

body.dark-mode form {
  background-color: #1f2937;
  border: none;
}

body.dark-mode label {
  color: lightgray;
}

body.dark-mode input[type=text] {
  background-color: #4b5563;
  color: white;
  border: 1px solid white;
}

body.dark-mode input[type=number] {
  background-color: #4b5563;
  color: white;
  border: 1px solid white;
}

body.dark-mode input[type=submit] {
  background-color: #0099cc;
  color: white;

  &:hover {
    background-color: #0077aa;
  }
}

body.dark-mode button {
  background-color: #2b394c;
  border: none;
  color: #ddd;

  &:hover {
    background-color: #4b6282;
  }
}

.deletebutton {
  color: red;
}

body.dark-mode .deletebutton {
  color: #ff9999;
}

body.dark-mode th {
  background-color: #1f2937;
  color: lightgray;
  border: 1px solid #ddd;
}

body.dark-mode tr:nth-child(even),
table.list thead>tr {
  background-color: #1f2937;
}

body.dark-mode td {
  color: lightgray;
}


div {
  display: flex;
  justify-content: center;
  align-items: center;

}

h1,
h2 {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333;
}


form {
  background-color: #f0f8ff;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 70px 0 0 0;
}


label {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

table {
  width: 100%;
  max-width: 700px;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  border-spacing: 0;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

table.list {
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  /* Changed border color */
  text-align: center;
  padding: 12px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

tr:nth-child(even),
table.list thead>tr {
  background-color: #f0f8ff;
}

input[type=text],
input[type=number] {
  width: calc(100% - 60px);
  padding: 12px 20px;
  margin: 8px 30px;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

input[type=submit] {
  display: block;
  width: 100%;
  max-width: 200px;
  background-color: #00b7ff;
  color: white;
  padding: 12px 0;
  margin: 20px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Arial', sans-serif;
}

input[type=submit]:hover {
  background-color: #0099cc;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #3366cc;
  margin-right: 4px;
}

a:hover {
  text-decoration: underline;
}

body.dark-mode a {
  color: #99ccff;
}

.delete-link {
  color: red;
}

body.dark-mode .delete-link {
  color: #ff9999;
}

label.validation-error {
  color: red;
  font-size: 15px;
  text-align: left;
  margin: 8px 5px;
}

body.dark-mode label.validation-error {
  color: #ff9999;
}

.hide {
  display: none;
}


/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
}

body.dark-mode .modal-content {
  background-color: #1f2937;
  border: nano;
}

.modal-content p {
  font-size: 15px;
  font-family: 'Arial', sans-serif;
  color: #333;
  text-align: start;
  margin: 13px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

body.dark-mode .close:hover,
.close:focus {
  color: #ff9999;
  text-decoration: none;
  cursor: pointer;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e0f0fe;
  border: 1px solid #ddd;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #afd4f5;
  }
}



#confirmDelete {
  background-color: transparent;
  color: #d9534f;
  border: 1px solid #d9534f;

  &:hover {
    background-color: #f55d57;
    color: white;
  }
}

body.dark-mode #confirmDelete {
  background-color: transparent;
  border: 1px solid #d9534f;
  color: #d9534f;

  &:hover {
    background-color: #d9534f;
    color: white;
  }
}

#cancelDelete {
  background-color: transparent;
  color: white;
  border: 1px solid #5bc0de;
  color: #5bc0de;

  &:hover {
    background-color: #a7dbeb;
    color: white;
  }
}

body.dark-mode #cancelDelete {
  background-color: transparent;
  border: 1px solid #5bc0de;
  color: #5bc0de;

  &:hover {
    background-color: #b3d9ff;
    color: white;
  }
}

#darkModeToggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#darkModeToggle:hover {
  background: #555;
}

@media screen and (max-width: 600px) {
  #darkModeToggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #333;
    color: white;
    padding:  10px 15px;
    cursor: pointer;
  }
}

/*  Back to top */

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  display: none; /* Hidden by default */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Hover effect */
#backToTop:hover {
  background: #555;
  transform: scale(1.1);
}

/* Show button when scrolling */
.show {
  display: block !important;
}
